---
import Layout from '@/layouts/Layout.astro';
import HeroMe from '../HeroMe.astro';
---

<Layout title="Mario Chico | Desarrollador Web">
	<main>
		<p>es un secretoooo</p>
		<HeroMe/>
	</main>
</Layout>

<style>
	
</style>
