---
import Layout from '../../layouts/Layout.astro';
import Me from '../Me.astro';
import Why from '@/sections/Why.astro';
---

<Layout title="Mario Chico | Desarrollador Web">
	<main>
		<Me />
		<Why/>
	</main>
</Layout>

<style>
	
</style>
