---
import Types from '@/sections/Types.astro';
import Layout from '@/layouts/Layout.astro';
import Hero from '../Hero.astro';
import Why from '@/sections/Why.astro';
---

<Layout title="Mario Chico | Desarrollador Web">
	<main>
		<Hero />
		<Why/>
		<Types />
	</main>
</Layout>

<style>
	
</style>
