<div >
  <p>Actividades a realizar/considerar antes de la primera sesión de videollamada</p>

<ol>
  <li>
    <label for="objetivos"><input type="checkbox" id="objetivos" name="objetivos"/> Establecer objetivos en la app</label>
  </li>
  <li>
    <label for="test"><input type="checkbox" id="test" name="test"/> Realiza el <a href="/es/blog/test" target="_blank" rel="noopener noreferrer">test de dióxido de carbono</a></label>
  </li>
  <li>
    <label for="dormir"><input type="checkbox" id="dormir" name="dormir"/> Establecer horarios de sueño consistentes<sup><a href="#id1">1</a></sup></label>
  </li>
  <li>
    <label for="sol"><input type="checkbox" id="sol" name="sol"/> Recibir luz solar en los ojos al amanecer<sup><a href="#id2">2</a></sup></label>
  </li>
</ol>
</div>
<div class="footnotes">
<p id="id1">Tener horarios de sueños establecidos nos permite regular los relojes internos del cuerpo y anticipar estados, como el sueño, que impacta en la salud en general y las funciones cognitivas.</p>
<p id="id2">Los primeros 30-60 minutos después de despertar. Tiene el poder de establecer nuestro ritmos circadianos, aumentar el cortisol y preparanos para tener un enfoque prolongado en las primeras horas del día.</p>
</div>