<div class="hamburger">
  <span ></span>
  <span ></span>
  <span ></span>
</div>

<style>
  div {
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  z-index: 90;
}

span {
  width: 40px;
  height: 3px;
  background-color: #ff9776;

}
@media screen and (min-width: 648px) {
  div {
    display: none;
  }
}

</style>

