---
import { Image } from "astro:assets";
import LightMario from "@/img/light-mario.webp";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <Image src={LightMario} alt="Yo en el about"></Image>
  <div>
    <p>{t('about.paragraph')}</p>
    <p>Esto es lo que escribo aqui</p>
  </div>
</section>

<style>
  section {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
</style>