---
import { Image } from "astro:assets";
import LightMario from "@/img/light-mario.webp";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <Image src={LightMario} alt="Yo en el about"></Image>
  <div>
    <p>{t('about.paragraph')}</p>
    <p>Frase que aún no encuentro</p>
  </div>
  <hr>
  <h2>Pienso que si obtenemos bienestar, podemos hacer bien a nuestra comunidad, naturaleza y el mundo</h2>
  <p>Es por eso que estoy comprometido con aportar a esta misión, para que nuestro ecosistema siga prosperando, nos preocupemos menos de las cosas mundanas, lleguemos a rincones hermosos del mundo y que nuestro cuerpo no sea una limitante, que nuestras mentes sigan expandiendose y podamos ocuparnos de nuestro máximo desempeño como humanos</p>
  <hr>
  <h2>Obsesionado por el desempeño</h2>
  <p>He sido estudiante, trabajador, atleta, voluntario y todo esto por querer se mejor o funcional, así como tu, he buscado el sentido de mi existencia y avanzar hacia ese proposito. Es por eso que me certifico y aprendo de cientificos, coachs y expertos de todo el mundo, para poder traer toda esa información y proporcionarla a la comunidad</p>
  <hr>
  <h2>Certificaciones actuales</h2>
  <ul>
    <li>WSWCF Academy</li>
    <li>Biomolecular Athlete</li>
  </ul>
</section>

<style>
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8dvh;
    align-items: center;
  }
  div {
    width: 100%;
    text-align: left;
  }
  h2{
    text-align: center;
    margin-bottom: 14px;
    max-width: 50ch
  }
  p {
    max-width: 60ch;
    padding-inline: 2rem;
    line-height: 2rem;
    font-weight: 500;
  }
  hr {
    margin-block: 14px;
    width: 98dvw;
  }
  img {
    max-width: 100%;
  }
</style>