---
import { languages } from '@/i18n/ui';
import { getLangFromUrl,useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const url = Astro.url.pathname;
const nurl = url.slice(3, url.length);
// console.log(nurl);
// console.log(url);
// console.log(lang);
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a
        href={translatePath(`${lang === 'es' ? nurl : url}`, lang)}
        class={lang}
      >
        {label}
      </a>
    </li>
  ))}
</ul>

<style>
  a:focus{
    cursor: none;
  }
  ul{
    list-style: none;
  }
</style>
<script>
  let lang = document.documentElement.lang
  if( lang === 'es' ){
    let esF = document.querySelector('.es') as HTMLElement;
    esF.style.pointerEvents = 'none';
  }else{
    let enF =document.querySelector('.en') as HTMLElement;
    enF.style.pointerEvents = 'none';
  }
</script>