<ul>
  <li>uno</li>
  <li>dps</li>
  <li>ter</li>
  <li>cia</li>
</ul>

<style>
  li{
    list-style-type: '\1F320';
  }
  @counter-style stars {
    system: fixed;
    symbols: 💫;
    suffix: " ";
  }

</style>