<section>
  <div class="text-me">
    <h3>Hi, my name is <strong>Mario Chico</strong></h3>
    <h1>I'm a web developer</h1>
    <p>Especialized on digital experiences. Skilled on the front-end and backend (How the website look like and the behaviour of it). Expert on make your dreams come true</p>
    <button>Let's fucking do it</button>
  </div>
  <div class="photo-me"></div>
</section>

<style>
  .text-me {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: 3rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0;
    width: 100%;
  }
  h1 {
    text-transform: uppercase;
    text-wrap: balance;
    width: 100%;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-top: 0;
  }
  p {
    text-wrap: pretty;
    margin-top: 0;
  }
  button {
    background-color: orange;
  }
  button:hover {
    background-color: green;
  }
</style>