---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<nav class="menu">
    <a href={translatePath('/')}>{t('nav.home')}</a>
    <a href={translatePath('/about/')}>{t('nav.about')}</a>
    <a href={translatePath('/blog/')}>Blog</a>
</nav>

<style>
  .menu {
    display: none;
    position: absolute;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 9s;
  }
  
  .menu.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    inset: 0;
    background-color: var(--background-color);
    opacity: 1;
    z-index: -1;
  }

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }


  @media (min-width: 600px) {
    a{
      font-size: 1rem;
    }
    
    a:hover,
    a:focus {
      opacity: .8;
    }

    .menu {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      min-height: 7dvh;
      opacity: 1;
    }
  }
</style>