<aside id="notas">
  <p>Calentamiento</p>
  <p class="descripcion-calentamiento">Empieza el día calentando los dos primeros ejercicios. Para ejercicios de pierna realiza más sets de calentamiento, usa pesos inferiores al del set de trabajo. Para ejercicos de tren superior puede ser necesario solo 1 o 2 sets de calentamiento.<br> Ejemplo con Leg Press: 10 reps sin peso, 6 reps con 40 libras, 6 reps 90 libras, 3 reps con 120 libras, 3 reps con 140 libras, empieza el set de trabajo</p>
  <p>Definicion de términos</p>
  <dl class="tempo">
    <dt>Tempo</dt>
    <dd>Es una prescripción de cuanto tiempo (en segundos) debe de durar cada fase de una repetición. En toda repetición hay 4 partes. Ejemplo 4011, 32X0</dd>
    <dt>Primer número:</dt>
    <dd>Contracción Excéntrica (Cuando se lleva hacía abajo el peso y la resistencia se mueve hacia el suelo)</dd>
    <dt>Segundo número:</dt>
    <dd>Pausa en la posición entre las fases Excéntrica(bajar) y Concéntrica(Levantar) del movimiento</dd>
    <dt>Tercer número:</dt>
    <dd>Contracción concéntrica (Cuando se levanta el peso y se mueve alejándose del suelo)
    </dd>
    <dt>Cuarto número:</dt>
    <dd>Pausa en la posición flexionada, antes del siguiente movimiento excéntrico (bajar el peso)</dd>
  </dl>
</aside>


<style>
  aside {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;  
  }

  aside p {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  aside .descripcion-calentamiento, .tempo dd {
    font-size: 0.85rem;
    font-weight: 500;
    color: #555;
  }
  /* Estilos para la lista de definiciones */
  .tempo {
    list-style: none;
  }

  .tempo dt {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .tempo dd {
    margin-left: 1rem;
    margin-top: 0.25rem;
  }
</style>