---
import Table from '@/components/Table.svelte';
import NotasGenerales from '@/components/NotasGenerales.astro';
import WarmTable from '@/components/WarmTable.svelte';
interface Props {
  
  exercises: any[];
}
const warmup = {
  "exercises": [
    {
      "sets": "1-3",
      "reps": "3 x lado",
      "tempo": "8s x lado",
      "rest": "N/A",
      "exercise": [
        {"A":"Cat Cow", "yt": "ESJ6Ghvgr6k"}, {"B":"Bird Dog", "yt": "vzU5xrs1gMQ"}, {"C":"FRC Shoulder CARs", "yt": "y53O8qK-TNs"}, {"D":"FR Hip CARs", "yt": "K3OhDm57ZZU"}, {"E":"Scapular Wall Slides", "yt": "fYNSZz-fPRw"}],
      "note": "Ejecuta los ejercicios en orden alfabético, respetando los sets, reps y tempo "
    }
  ]
}

const {exercises } = Astro.props;
---
<p id="notas-generales"><a href="#notas"> Notas generales</a></p>
<section>
  <h2>Pre-calentamiento</h2>
  <div class="table-container">
    <WarmTable client:load exercises={warmup.exercises} />
  </div>
  <h2>Ejercicios: Total Body Lift</h2>
  <div class="table-container">
    <Table client:load exercises={exercises} />
  </div>
  <NotasGenerales />
</section>

<style>
  .table-container {
    overflow-x: auto;
    padding: 1rem;
    background-color: #0c0c32;
    border: 1px solid #ff0000;
    border-radius: 8px;
    max-width: 100%;
    margin-block: 1rem;
  }
  section{
    margin-top: 20px
  }
</style>