---
interface Props {
  title: string;
  text?: string;
}

const {title, text} = Astro.props;
---
<article>
  <div>
    <slot name="svg"/>
    <h3>{title}</h3>
  </div>
  <div>
    <slot name="content"/>
  </div>

</article>

<style>

  article{
    border: 1px solid #fff;
    grid-column: span 1 / span 1;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
  }
  
  div:last-child {
    height: auto;
    text-align: center;
  }
  div:first-child{
    flex-direction: column;
    justify-content: center;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: left;
    align-items: center;
    height: 45%;
    margin-left: 9px;
  }
  @media (min-width: 800px) {
    article{
    grid-column: span 5 ;
  }
  }
</style>