---
import Eye from "@/icons/eye.astro";
import { db, Views, eq } from "astro:db";
interface Props {
  slug: string;
}

const { slug } = Astro.props;
let sl = slug.slice(3);
const found = await db
    .select({
      count: Views.count,
    })
    .from(Views)
    .where(eq(Views.slug, sl ));
const count = found[0]?.count || 0;
---

<span><Eye/> {count}</span>