---
import { getCollection } from "astro:content";


const brayanTrianings = await getCollection("brayan");
const { username, week, id } = Astro.params;
const brayanTrianingsWeek1 = brayanTrianings.filter((wod) => wod.data.week === 1);
---

<section>
  <h2>Semana {brayanTrianingsWeek1[0].data.week}</h2>
  <ul>
    {
      brayanTrianingsWeek1.map((wod) =>{

      return (
        <li>
          <a href={`/training/brayan/${wod.id}`}>Día {wod.data.day} {wod.data.dia_de_semana}</a>
        </li>
       )
      })
    }
  </ul>
</section>
