---
import Instragram from "@/icons/instragram.astro"
---
<footer>
  <hr  />
  <div >
    <span >© 2024 <a href="https://www.instagram.com/elchico_sw/" >Coach</a>. Casi todos los derechos reservados.
    </span>
    <div class="logos ">
        <a href="https://www.instagram.com/elchico_sw/" >
           <Instragram />
            <span class="sr-only">Instagram page</span>
        </a>
       
    </div>
</div>
</footer>

<style>
  footer {
    position: relative;
    margin-top: 30px;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .logos{
    justify-content: center;
    gap: 2rem;
   padding: 0;
   padding-right: 15px;
  }
  span{
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  svg{
    width: 1.3rem;
    height: 1.3rem;
  }
  @media screen and (min-width: 1024px) {
    footer{
      margin-top: 2rem;
    }
  }
</style>