---
import Hamburger from '@/components/Hamburger.astro';
import Navigation from '@/components/Navigation.astro';
import ThemeIcon from '@/components/ThemeIcon.astro';
---
<header id="nav-menu">
  <div class="container">
    <div class="nav-start">
      <a class="logo" href="/">
        <img src="https://media.licdn.com/dms/image/D5603AQGKUXkod03p2Q/profile-displayphoto-shrink_200_200/0/1666323977932?e=1717027200&v=beta&t=DxQ95cYg5-1cigoNUDSonghGfJjYXi-tF_7cddVRS4A" 
             width="35" 
             height="35" 
             alt="Inc Logo"
          />
      </a>
      
      <Navigation />
      
    </div>

    <div class="nav-end">
       <ThemeIcon />
        <Hamburger />
    </div>
  </div>
</header>
<style>
  #nav-menu {
  
  position: fixed;
  width: 100dvw;
  height: 8dvh;
  z-index: 100;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0.7rem 1.8rem;
  border-bottom: 1px solid #eeeeee;
}
  .nav-start,
  .nav-end {
  display: flex;
  align-items: center;
  }
  .nav-start{
    width: 95%;
  }
  .nav-end{
    gap: 1rem;
  }
  .logo {
  margin-right: 1.5rem;
  }


@media (min-width: 600px) {
  
  .container { 
    max-width: 1600px;
    padding: 1rem;
  }
}


</style>
