---
import Hamburger from '@/components/Hamburger.astro';
import Navigation from '@/components/Navigation.astro';
import ThemeIcon from '@/components/ThemeIcon.astro';
import BMC from '@/icons/bmc.astro';

import LanguagePicker from '@/components/LanguagePicker.astro';
---
<header id="nav-menu">
  <div class="container">
    <div class="nav-start">
      <LanguagePicker />
      <Navigation />
    </div>

    <div class="nav-end">
      <a href="https://buymeacoffee.com/elchico.coach" target="_blank">
        <BMC />
        <span class="sr-only">Buy me a coffe</span>
      </a>
      <ThemeIcon />
      <Hamburger />
    </div>
  </div>
</header>
<style>
  #nav-menu {
  position: fixed;
  width: 100dvw;
  height: 8dvh;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0.7rem 1.8rem;
  border-bottom: 1px solid var(--border-color);
}
  .nav-start,
  .nav-end {
  display: flex;
  align-items: center;
  }
  .nav-start{
    width: 95%;
  }
  .nav-end{
    gap: 1rem;
  }
  .logo {
  margin-right: 1.5rem;
  }
@media (min-width: 600px) {
  .container { 
    padding: 1rem 2.9rem;
  }
}
</style>
