<header>
  <div></div>
  <div></div>
  <div></div>
</header>
<style>
  header {
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div {
    width: 40px;
    height: 5px;
    background-color: white;
  }
</style>