---
import TrainingGrid from "@/components/TrainingGrid.astro";
import Endurance from "@/icons/endurance.astro";
---

<section>
<TrainingGrid title="Resistencia">
  <Endurance slot="svg"/>
  <p slot="content">La resistencia te hace requete resistente</p>
</TrainingGrid>
<TrainingGrid/>
<TrainingGrid/>
<TrainingGrid/>
<TrainingGrid/>
<TrainingGrid/>
<TrainingGrid/>
<TrainingGrid/>
</section>

<style>
  section {
      display: grid;
      max-width: 70%;
      width: 100%;
      margin: auto;
      grid-gap: 1rem;
      grid-auto-rows: 20rem;
    }
    p{
      width: 100%;
    }
    @media (min-width: 1000px) {
      section {
        grid-template-columns: repeat(9, minmax(0, 1fr));
      }
    }
</style>