h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display Variable', sans-serif;
}
h2{
	font-weight: 900;
	font-size: 1.75rem;
}
p, ul, ol, blockquote {
	font-family: 'Roboto', sans-serif;
}
.rich-text-content {
	display: flex;
  flex-direction: column;
	gap: 1.25rem;
	font-size: 1.5rem;
}
.rich-text-content p {
	font-weight: 400;
	line-height: 2rem;
	text-align: justify;
	text-justify: inter-word;
	word-spacing: 3px;
}
.rich-text-content ul, ol {
	margin-left: 1.5rem;
	margin-top: .5rem;
	text-align: left;
	font-size: 1rem;
	line-height: 1.9;
}

.rich-text-content blockquote {
	font-weight: 100;
	font-size: 1rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

.rich-text-content button {
	background-color: var(--accent-color);
	border: none;
	color: var(--tex-color);
}


blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 2rem;
	width: 6rem;
	height: 3rem;
}

blockquote:before {
	content: '“';
	left: -2.8rem;
	top: -0.3rem;
}

blockquote:after {
	content: '”';
	right: -2.8rem;
	bottom: -0.3rem;
}
	